<template>
    <v-toolbar fixed class="cyan" dark>
        <v-toolbar-title class="mr-4">
            <span
                    class="home"
                    @click="navigateTo({name: 'home'})">
                Tourney Time
            </span>
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn flat dark
                   v-if="!$store.state.isUserLoggedIn"
                   @click="navigateTo({name: 'login'})">
                Login
            </v-btn>
            <v-btn flat dark
                   v-if="!$store.state.isUserLoggedIn"
                   @click="navigateTo({name: 'register'})">
                Sign Up
            </v-btn>
            <v-btn flat dark
                   v-if="$store.state.isUserLoggedIn"
                   @click="logout">
                Log Out
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
    methods: {
        navigateTo (route) {
            this.$router.push(route)
        },
        logout () {
            this.$store.dispatch('setToken', null)
            this.$store.dispatch('setUser', null)
            this.$router.push({
                name: 'home'
            })
        }
    }
}
</script>

<style>
.home {
    cursor: pointer;
}

.home:hover {
    color: bisque;
}
</style>
