<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <panel title="Login">
                <v-text-field
                        id="email"
                        name="email"
                        label="Email"
                        v-model="email">
                </v-text-field>
                <br>
                <v-text-field
                        type="password"
                        id="password"
                        name="password"
                        label="Password"
                        v-model="password">
                </v-text-field>
                <br>
                <div v-html="error"></div>
                <br/>
                <v-btn
                        class="cyan"
                        dark
                        @click="login">
                    Login
                </v-btn>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import AuthenticationService from '../services/AuthenticationService'
import Panel from '@/components/Panel'

export default {
    components: {
        Panel
    },
    name: 'Login',
    data () {
        return {
            email: '',
            password: '',
            error: null
        }
    },
    methods: {
        async login () {
            try {
                this.error = null
                const response = await AuthenticationService.login({
                    email: this.email,
                    password: this.password
                })
                this.$store.dispatch('setToken', response.data.token)
                this.$store.dispatch('setUser', response.data.user)
            } catch (error) {
                this.error = error.response.data.error
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }
</style>
