<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <panel title="Register">
                <form
                        name="register"
                        autocomplete="off">
                    <v-text-field
                            id="email"
                            name="email"
                            label="Email"
                            v-model="email">
                    </v-text-field>
                    <br>
                    <v-text-field
                            type="password"
                            id="password"
                            name="password"
                            label="Password"
                            v-model="password"
                            autocomplete="new-password">
                    </v-text-field>
                    <br>
                    <v-text-field
                            :error-messages="screenNameErrors"
                            type="text"
                            id="screenName"
                            name="screenName"
                            label="Screen Name"
                            v-model="screenName">
                    </v-text-field>
                    <div v-html="error" class="error-state"></div>
                    <br/>
                    <v-btn
                            class="cyan"
                            dark
                            @click="register">
                        Register
                    </v-btn>
                </form>
            </panel>
        </v-flex>
    </v-layout>
</template>

<script>
import Panel from '@/components/Panel'
import AuthenticationService from '../services/AuthenticationService'

export default {
    components: {
        Panel
    },
    name: 'Register',
    data () {
        return {
            email: '',
            password: '',
            screenName: '',
            validScreenName: true,
            error: null,
            screenNameErrors: []
        }
    },
    methods: {
        async register () {
            try {
                this.screenNameErrors = []
                this.error = null

                await AuthenticationService.register({
                    email: this.email,
                    password: this.password,
                    screenName: this.screenName
                })

                this.$router.push({
                    name: 'home'
                })
            } catch (error) {
                if (error.response.data.code === 'screen_name_taken') {
                    this.screenNameErrors.push('Screen name is taken')
                } else if (error.response.data.code === 'screen_name_missing') {
                    this.screenNameErrors.push('Screen name is incorrect format')
                } else {
                    this.error = error.response.data.error
                }
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
    font-weight: normal;
}

.error-state {
    color: red;
}
</style>
